// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
body{
  font-family: 'MedievalSharp', cursive;
  font-size: 2vw;
}
td{
    font-size: 1.7vw;
}
